@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
body {
    display:flex;
    flex-direction: column nowrap;
    min-height: 100vh;
}
main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
div {
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    place-content: center;
    display:grid;
}